pandas1.0.1
shap
scikit-learn
streamlit-lottie
requests
numba==0.48.0
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
scikit-learn
matplotlib
flasgger
streamlit



